
v3.0/

###############################################################################################
# Ignore application configurations
###############################################################################################
.chef
.vagrant